<!doctype html>

<header>
    <meta charset="utf-8">
    <title>Sev made a map!</title>

    <script src="/static/js/d3.v4.min.js"></script>
    <script src="/static/js/d3-scale-chromatic.v1.js"></script>
    <script src="/static/js/topojson.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sevsmapapp.css">
</header>
<body>
    <div class="app"></div>

    <!-- <script>var url="/static/topofiles/{{ topo }}.topojson" </script> -->
    <script src="/static/js/sevsmapapp.js"></script>

    {% if data %}
        <script> draw("/static/topofiles/{{ topo }}.topojson", "{{ colorby }}", "/read/{{ data }}");</script>
    {% else %}
        <script> draw("/static/topofiles/{{ topo }}.topojson", "{{ colorby }}"); </script>
    {% endif %}
</body>
